<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <h3>{{title}}</h3>
    <!-- Using the inherit variant for the AutoSuggest component to inherit the style from a custom CSS class and match other inputs on your site -->
    <what3words-autosuggest [api_key]="w3w_api_key" variant="inherit">
      <input type="text" placeholder="Search for your business" class="custom-w3w-input" />
    </what3words-autosuggest>

  </div>
</ion-content>